.slider_button__popup
    .top
        .button 
            span ГДЕ КУПИТЬ?  КОНТАКТЫ
    .slider_button__popup__floating-block
        .adr <b>Единый адрес для всех регионов:</b> mail@pr-t.ru
        .stadts-table
                        
                        
            ul
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 

                          
            ul
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li.active
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 

                          
            ul
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 

                          
            ul
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 

                          
            ul
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 
                        
                li
                    a
                        span Архангельск 
                        i (8182)63-90-72 

                  
