doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        section.topbar#scr
            .content
            
                .topbar__floating
                    .middle
                        .topbar_stadt
                            i Ближайший город:
                            span Санкт-Петербург
                            .topbar__floating__popup
                                .topbar__floating__popup_body
                                
                                    ul
                                    
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                        
                                    ul
                                    
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                        
                                    ul
                                    
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li.active
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                        
                                    ul
                                    
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                        
                                    ul
                                    
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                                                            
                                        li
                                            span Архангельск  
                        
            
                .topbar__floating
                    .middle
                        a.topbar_link(href="#") <i class="cont"></i> Обратная связь
                        a.topbar_link(href="mailto:micromotion@nt-rt.ru") <i class="mail"></i> micromotion@nt-rt.ru
                        a.topbar_link(href="tel:+78123094640") <i class="phone"></i> Тел.: (812)309-46-40
                    
        header
            .content
                .header__floating
                    .middle
                        h1 Прогрессивные технологии
                .header__floating
                    .middle
                        nav
                            a.scrl#scr.active(href="#scr") Главная
                            a.scrl#a-scr-1(href="#scr1") MicroMotion
                            a.scrl#a-scr-2(href="#scr2") Каталог
                            a.scrl#a-scr-3(href="#scr3") Подбор
                            a.scrl#a-scr-4(href="#scr4") Инфо
                            a.scrl(href="#") Прайс
                            a.scrl#a-scr-5(href="#scr5") Прайс | Контакты
        section.slider
            .content
                .slider__floating
                .slider__floating
                    .slider__floating_card
                        h2 МАССОВЫЕ КОРИОЛИСОВЫЕ РАСХОДОМЕРЫ И ПЛОТНОМЕРЫ СЕРИИ CMF, ELITE, F И ДР. MICRO
                        p Уже более 7 лет группа компаний «Новые технологии» занимается комплектацией и внедрением оборудования для автоматизации технологических процессов и энергосбережения. 
                        a.button КАТАЛОГ ПРОДУКЦИИ
            .slider_button
                span ГДЕ КУПИТЬ?  КОНТАКТЫ
                include include/popup.jade
                
        section.about#scr1
            .content
                h2
                    span О КОМПАНИИ MICRO MOTION
                p Кориолисовы расходомеры торговой марки Micro Motion производятся более 25 лет. Micro Motion является несомненным лидером в данной отрасли, благодаря непрерывному совершенствованию своих продуктов, знаниям сферы их применения, а также постоянному стремлению к высокому качеству и технической поддержки.
                .about__slider
                    div#regular1
                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                   
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                   
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
            .line
                img(src="img/line.png")
                
        section.katalog#scr2
            .content
                h2 КАТАЛОГ ПРОДУКЦИИ MICRO MOTION
                p Кориолисовые датчики расхода и плотности. Кориолисовы электронные преобразователи. Специализированные плотномеры и вискозиметры.
                
                .katalog__floating-block
                    .katalog__slider
                    
                    
                        .katalog__slide#slide1
                        
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                  
                        .katalog__slide#slide2
                        
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп1.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
            ul
            
                li.active#katalog-one
                    button
                            
                li#katalog-two
                    button
            .line-p
                    
            .katalog__button-block_b
                .katalog__button-block_b_item
                    a.button ПЕРЕЙТИ К СЛЕДУЮЩЕЙ СТРАНИЦЕ
        
        
        section.teck#scr3
            .content
                h2 ПОДБОР ОБОРУДОВАНИЯ MICRO MOTION
                p Выберите наиболее удобный способ получения информации по цене и срокам поставки.
                div.desk Для получения коммерческого предложения с указанием технических характеристик, стоимости и сроков поставки<br> оборудования, необходимо произвести подбор спецификации наиболее удобным для Вас способом
                    .line
                    
                .desk__displays
                
                    .desk__displays__item
                        .desk__displays_elips
                            .desk__displays_img.el1
                            .desk__displays_num 1
                        a.button Опросный лист
                        .txt Сообщите нам основные данные процесса в опросном листе на измерение расхода, измерение плотности жидкости, измерение плотности газа, измерение вязкости
                                
                    .desk__displays__item
                        .desk__displays_elips
                            .desk__displays_img.el2
                            .desk__displays_num 2
                        a.button Опросный лист
                        .txt Сообщите нам основные данные процесса в опросном листе на измерение расхода, измерение плотности жидкости, измерение плотности газа, измерение вязкости
                                
                    .desk__displays__item
                        .desk__displays_elips
                            .desk__displays_img.el3
                            .desk__displays_num 3
                        a.button Опросный лист
                        .txt Сообщите нам основные данные процесса в опросном листе на измерение расхода, измерение плотности жидкости, измерение плотности газа, измерение вязкости
                                
                    .desk__displays__item
                        .desk__displays_elips
                            .desk__displays_img.el4
                            .desk__displays_num 4
                        a.button Опросный лист
                        .txt Сообщите нам основные данные процесса в опросном листе на измерение расхода, измерение плотности жидкости, измерение плотности газа, измерение вязкости
        section.doc#scr4
            .content
                h2 ДОКУМЕНТАЦИЯ О НАС
                p Выберите наиболее удобный способ получения информации по цене и срокам поставки.
                .doc__elips-block
                    .doc__elips-block__slider
                    
                        .doc__elips-block__slide#doc1
                
                            .doc__elips-block__item
                                .doc__elips-block__item_elips
                                    .middle
                                        img(src="img/doc1.jpg")
                                
                                    .doc__elips-block__item_elips_d
                                        span Опросный лист на датчик газа
                                        i
                
                            .doc__elips-block__item
                                .doc__elips-block__item_elips
                                    .middle
                                        img(src="img/doc1.jpg")
                                
                                    .doc__elips-block__item_elips_d
                                        span Опросный лист на датчик газа
                                        i
                
                            .doc__elips-block__item
                                .doc__elips-block__item_elips
                                    .middle
                                        img(src="img/doc1.jpg")
                                
                                    .doc__elips-block__item_elips_d
                                        span Опросный лист на датчик газа
                                        i
                    
                        .doc__elips-block__slide#doc2
                
                            .doc__elips-block__item
                                .doc__elips-block__item_elips
                                    .middle
                                        img(src="img/doc1.jpg")
                                
                                    .doc__elips-block__item_elips_d
                                        span lol лист на датчик газа
                                        i
                
                            .doc__elips-block__item
                                .doc__elips-block__item_elips
                                    .middle
                                        img(src="img/doc1.jpg")
                                
                                    .doc__elips-block__item_elips_d
                                        span Опросный лист на датчик газа
                                        i
                
                            .doc__elips-block__item
                                .doc__elips-block__item_elips
                                    .middle
                                        img(src="img/doc1.jpg")
                                
                                    .doc__elips-block__item_elips_d
                                        span Опросный лист на датчик газа
                                        i
                a.sl-stick#sl-prev
                a.sl-stick#sl-next
            ul
                    
                li.active#d-doc1
                    button

                    
                li#d-doc2
                    button
                    
        section.contacts#scr5
            .content
                h2 НАШИ КОНТАКТЫ
                p Продажа. Услуги. Поддержка. Сотрудничество.
                .contacts__disp
                   .contacts__disp-floating
                    p По вопросам закупки оборудования и технической поддержки Вы можете обращаться по контактам, указанным на веб-сайтах соответствующих подразделений ГК "Новые технологии" (см. раздел "Поставки оборудования") . <br><br> <b>Мы гарантируем ответ в течение 8 рабочих часов!</b>
                    
                    .contacts__disp__linked
                        h3 КОНТАКТЫ ГК "ПРОГРЕССИВНЫЕ ТЕХНОЛОГИИ"
                        a.contacts__disp__linked_link(href="mailto:micromotion@nt-rt.ru") <i class="mail"></i> micromotion@nt-rt.ru
                        a.contacts__disp__linked_link(href="tel:+78123094640") <i class="phone"></i> Тел.: (812)309-46-40 
                   
                   
                   form.contacts__disp-floating
                   
                    .contacts__disp-floating_inp-txt
                        input(placeholder="Ваше имя" required)
                                   
                    .contacts__disp-floating_inp-txt
                        input(type="email" placeholder="Электронная почта" required)
                                                    
                    .contacts__disp-floating_inp-txt.big
                        input(placeholder="Название компании, конлтактные данные")
                    

                                                                            
                    .contacts__disp-floating_inp-txt.big
                        textarea(placeholder="Сообщение")
                        
                    .contacts__disp-floating_inp-txt
                        span Отправить мне копию сообщения
                            input.check(type="checkbox")
                    
                        
                    .contacts__disp-floating_inp-txt
                            input.check.button(type="submit")
            .contacts__stadts
                .content
                    .stadts-table
                        
                        
                        ul
                        
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                    
                                            
                        ul
                        
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                    
                                            
                        ul
                        
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                    
                                            
                        ul
                        
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                    
                                            
                        ul
                        
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                                            
                            li
                                a
                                    span Архангельск 
                                    i (8182)63-90-72 
                  
                    
        footer
            .content
                p © 2016 ГК "Прогрессивные технологии" : Оборудование, решения и услуги в области теплоучета, газификации, энергосбережения. Автоматизация технологических процессов. Строительство и<br> модернизация промышленных объектов в России, Казахстане и других странах Таможенного Союза.
                a Карта сайта
                span Все права защищены.

                                    
                                        
                        
                    
                        
                        

                        
        
            
                            
                            
                            