doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        section.topbar
            .content
            
                .topbar__floating
                    .middle
                        .topbar_stadt
                            i Ближайший город:
                            span Санкт-Петербург
                        
            
                .topbar__floating
                    .middle
                        a.topbar_link(href="#") <i class="cont"></i> Обратная связь
                        a.topbar_link(href="mailto:micromotion@nt-rt.ru") <i class="mail"></i> micromotion@nt-rt.ru
                        a.topbar_link(href="tel:+78123094640") <i class="phone"></i> Тел.: (812)309-46-40
        header
            .content
                .header__floating
                    .middle
                        h1 Прогрессивные технологии
                .header__floating
                    .middle
                        nav
                            a.active(href="#") Главная
                            a(href="#") MicroMotion
                            a(href="#") Каталог
                            a(href="#") Подбор
                            a(href="#") Инфо
                            a(href="#") Прайс
                            a(href="#") Прайс | Контакты
        section.slider
            .content
                .slider__floating
                .slider__floating
                    .slider__floating_card
                        h2 МАССОВЫЕ КОРИОЛИСОВЫЕ РАСХОДОМЕРЫ И ПЛОТНОМЕРЫ СЕРИИ CMF, ELITE, F И ДР. MICRO
                        p Уже более 7 лет группа компаний «Новые технологии» занимается комплектацией и внедрением оборудования для автоматизации технологических процессов и энергосбережения. 
                        a.button КАТАЛОГ ПРОДУКЦИИ
            a.slider_button
                span ГДЕ КУПИТЬ?  КОНТАКТЫ
                
        section.about
            .content
                h2
                    span О КОМПАНИИ MICRO MOTION
                p Кориолисовы расходомеры торговой марки Micro Motion производятся более 25 лет. Micro Motion является несомненным лидером в данной отрасли, благодаря непрерывному совершенствованию своих продуктов, знаниям сферы их применения, а также постоянному стремлению к высокому качеству и технической поддержки.
                .about__slider
                    div#regular1
                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                   
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                   
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
                                    
                        div.about__slider_item
                            .about__slider_item_body
                                .about__slider_item_image(style="background:url(img/image.jpg)")
                                h3 ТОЧНЫЙ УЧЁТ ЖИДКОСТЕЙ
                                p Улучшение качества измерений. Уменьшение потребности в дорогостоящем техническом обслуживании. Уменьшение количества дополнительного  оборудования. Долговременная стабильность измерений. Сокращение простоев.
                
            .line
                img(src="img/line.png")
                
        section.katalog
            .content
                h2 КАТАЛОГ ПРОДУКЦИИ MICRO MOTION
                p Кориолисовые датчики расхода и плотности. Кориолисовы электронные преобразователи. Специализированные плотномеры и вискозиметры.
                
                .katalog__floating-block
                    .katalog__slider
                    
                    
                        .katalog__slide#slide1
                        
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                  
                        .katalog__slide#slide2
                        
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                
                            .katalog__line
                        
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                             
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
                                    
                                                                                                     
                                .katalog__item 
                                    a.katalog__item_body
                                        .katalog__item_img
                                            img(src="img/tovar.png")
                                        .katalog__item_title
                                            span Пищевые, химические исп.
                                        .katalog__item_desc Н025, Н050, Н100, Н200, Н300 и др.
            ul
            
                li.active
                    button
                            
                li
                    button
            .line-p
                    
            .katalog__button-block_b
                .katalog__button-block_b_item
                    a.button ПЕРЕЙТИ К СЛЕДУЮЩЕЙ СТРАНИЦЕ
        
        
        section.teck
            .content
                h2 ПОДБОР ОБОРУДОВАНИЯ MICRO MOTION
                p Выберите наиболее удобный способ получения информации по цене и срокам поставки.
                div.desk Для получения коммерческого предложения с указанием технических характеристик, стоимости и сроков поставки<br> оборудования, необходимо произвести подбор спецификации наиболее удобным для Вас способом
                    .line
                
                    
                                    
                                        
                        
                    
                        
                        

                        
        
            
                            
                            
                            